*{  
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* /////////////////////navbar///////////////// */
#navbar_container{
    height: 6vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    font-family: 'Signika', sans-serif;
    background-color: #004466;
}

#logo_container{
    width: 15%;
    display: flex;
    justify-content: center;
}

#logo{
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
}
#my_basket_container{
    width: 10%;
    display: flex;
}
#basket_logo{
    width: 50%;
    color: #fff;
    font-size: 26px;
    margin: auto;
}
#navbar{
    height: 6vh;
    width: 75%;
    left: 0;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.navbar_item{
    margin: auto; 
}

.navbar_item a{
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}


/* //////////////////////////body//////////////////////////////// */
.main_body{
    width: 100%;
    min-height: 94vh;
    background-color:#e6f7ff;
    margin-top: 6vh;
}

#products_container{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.one_product_container{
    border: 1px solid #333;
    width : 15%;
    max-height: 250px;
}

.product_image{
    top: 0;
    width: 100%;
    height: 80%;
}

#add_products_form{
    position: absolute;
    bottom: 0;
    background-color: #b3c6ff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
}

.text_input_area{
    outline: none;
    border: 0;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    width: 20%;
    margin: auto;
}

#product_submit{
    outline: none;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 5%;
    margin: auto;
    background-color: #00134d;
    font-size: 16px;
    color: #fff;
    transition: ease 0.3s all;
}

#product_submit:hover{
    color: black;
    background-color: aquamarine;
}