*{  
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
/* /////////////////////navbar///////////////// */
#navbar_container{
    height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    font-family: 'Signika', sans-serif;
    background-color: #004466;
}

#logo_container{
    width: 15%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#my_basket_container{
    width: 10%;
    display: flex;
}

#sign_out_container{
    width: 5%;
    display: flex;
}

.fa-sign-out-alt{
    color: #fff;
    font-size: 26px;
    margin: auto;
}
#navbar{
    height: 6vh;
    width: 75%;
    left: 0;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#logo{
    color: #fff;
    letter-spacing: 4px;
    font-size: 30px;
}

#basket_logo{
    width: 50%;
    color: #fff;
    font-size: 26px;
    margin: auto;
}

.navbar_item{
    margin: auto; 
}

.navbar_item a{
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}

#search_form_container{
    height: 6vh;    
    display: flex;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
}

#search_input{
    width: 90%;
    outline: none;
    border: none;
    font-size: 18px;
    margin-left: 5px;
}
#search_button{
    display: flex;
    justify-content: center;
    margin: auto;
    outline: none;
    width: 10%;
    border: none;
}
.fa-search{
    font-size: 20px;
    color: #999;
}

/* //////////////////////////body//////////////////////////////// */
#body{
    display: flex;
}
#main_container{
    width: 80%;
    min-height: 92vh;
    background-color:#e6f7ff;
    margin-top: 8vh;
}

#products_container{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.one_product_container{
    border: 1px solid #333;
    width : 15%;
    max-height: 250px;
}

.product_image{
    top: 0;
    width: 100%;
    height: 80%;
}

